@using IGLOUniversity.ViewModel.Kelas

@model IndexKelasViewModel

@{
    ViewData["Title"] = "Index Kelas";
}

@section modalDialog{
    <div class="modal-layer">
        <partial name="_UpsertModal"></partial>
        <partial name="_DeleteModal"></partial>
    </div>
    <script>
        $(".close-button").click(function (event) {
            event.preventDefault();
            $(".upsert-dialog form span").empty();
            document.querySelector(".upsert-dialog form").reset();
            $(".modal-layer").removeAttr("style");
            $(".popup-dialog").removeAttr("style");
        });
    </script>
}

<h2>Master Kelas</h2>

<table>
    <div class="field-row">
        <a class="btn btn-add"><i class="fas fa-plus">Tambah Kelas</i></a>
    </div>
    <thead style="text-align:center;">
        <tr>
            <th>Nama</th>
            <th>Mata Kuliah</th>
            <th>SKS</th>
            <th>Semester</th>
            <th>Kapasitas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GridKelas)
        {
            <tr>
                <td>@item.Nama</td>
                <td>@item.Matakuliah</td>
                <td>@item.Sks</td>
                <td>@item.Semester</td>
                <td>@item.Kapasitas</td>
                <td>
                    <a class="btn btn-update" asp-action="Edit" asp-route-id="@item.Id">Ubah</a>
                    <a class="btn btn-delete" asp-action="Delete" asp-route-id="@item.Id">Hapus</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Total Data : @Model.TotalData</td>
            <td colspan="5">
                @for (int i = 1; i <= Model.TotalHalaman; i++)
                {
                    <a class="btn btn-success" asp-action="Index" asp-route-page="@i">@i</a>
                }
            </td>
        </tr>
    </tfoot>
</table>

